.main-tables-container{
    display:flex;
    width:930px;
    margin:0 auto;
}


.main-product--detail{
    display:flex;
    flex-wrap:wrap;
    width:930px;
    margin:0 auto;
    padding-left: 55px;
}

.plans-container--slider{
    justify-content:center;
}


